body {
    background-color:#d3d3d31f;
}

nav li {
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: rgb(177, 11, 80);
    background-color: #09d2c8;
}

.texto-principal {
    margin-right: 20%;
}

h1 {
    color: #d2095d;
    text-align: center;
}
h2 {
    color: rgb(25, 20, 83);
}
p {
    color: rgb(16, 104, 13);

}
#imagem-principal {
    width: 15%;
    margin-left: 50%;
    border: 5px dotted rgb(59, 5, 83);
    float: left;
    position: absolute;
}

.itens {
    color:  #5F9EA0;
    text-decoration: underline;
}
.texto-principal {
    margin-right: 20%;
}
